.container-error {
  height: calc(100vh - 94px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -5rem;
  gap: 10px;
}

.container-error h1 {
  font-size: 100px;
}

.container-error h2 {
  font-size: 40px;
}

.container-error a {
  background-color: #483d8b;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.container-error a:hover {
  background-color: #5c4cc9;
}
